/* Write your CSS here */
.not-found-img {
  width: 100%;
  max-width: 450px;
}

.not-found-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.not-found-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notfound-responsive {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1110px;
}
